<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API 2</title>
  </head>
  <body>
    <h1>API: Balldontlie</h1>
    <br>
  This API provides stats of NBA players, teams, games, stats, and season averages
    <br>
    Search For A Player's Name (even if its only part of it)
    <form action="/input2">
        <input type = "text" name="stuffthesequel">
        <br>
        <input type = "submit" name="sub" value = "Search Player">
    </form>
    <br><br>
    Searched for: {{entry}}
    <table>
      <tr>
        <td>Id Num</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Height</td>
        <td>Weight</td>
        <td>Position</td>
        <td>Team</td>
        <td>City</td>
        <td>Conference</td>
        <td>Division</td>
      </tr>
    {% for stats in players %}
      <tr>
        <td>{{stats['id']}}</td>
        <td>{{stats['first_name']}}</td>
        <td>{{stats['last_name']}}</td>
        <td>{{stats['height_feet']}}' {{stats['height_inches']}}"</td>
        <td>{{stats['weight_pounds']}} lbs</td>
        <td>{{stats['position']}}</td>
        <td>{{stats['team']['full_name']}}</td>
        <td>{{stats['team']['city']}}</td>
        <td>{{stats['team']['conference']}}</td>
        <td>{{stats['team']['division']}}</td>
      </tr>
    {% endfor %}
    </table>
  </body>
</html>
