body {
  background-color: #E5E8E8;
}

h1 {
  color: red;
  text-align: center;
}

hr {
  border: 1px solid #17A589;
}

.center{
  text-align: center;
  align-content: center;
}

.left {
  text-align: left;
  align-content: left;
}

.right {
  text-align: right;
  align-content: right;
}

.responsive {
  width: 100%;
  height: auto;
}
