<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>D3 Representation</title>
    <style>
        .bar {
            fill: steelblue;
        }
      	h1 {
                  text-align: center;
      	}
      	h4 {
      	    text-align: center;
      	}
      	.chart {
      	    text-align: center;
      	}
    </style>
  </head>
  <body>
    <h1>SAT Info By School From 2010</h1>
    <h4>By Team Fishy Business</h4>
    <div class="chart">
      <button id="render">Render</button>
      <button id="transition">Transition</button>
      <br>
      <svg width="1000" height="600"></svg>
    </div>
    <!-- our chart -->
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <!-- establishes d3 -->
    <script type="text/javascript" charset="utf-8">
      var names = {{ names | safe}}
      //safe to render this directly without escaping
      var data = {{ info }};
      //adds all the data we need for this to work
    </script>

    <script src="static/d61.js"></script>
    <!--  -->
  </body>
</html>
